<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="title-link">
    <p class="title-watch">WATCH</p>
    <p class="title-box">BOX</p>
    </a>
    <form class="movie-search">
        <input
          type="text"
          class="movie-searchbar"
          id="movieSearch"
          size="21"
          maxlength="120"
          placeholder="Search for a movie or tv show...">
    </form>
  </div>
</nav>