<div class="preview-wrapper" key={movies[i].id}>
  <a class="movie-link" href="/">
    <img class="movie-graphic" src=<%= movies[i].graphicLink %>>
    <p class="movie-title"><%= movies[i].title %></p>
  </a>
</div>
