<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/header.ejs") %>
  </head>
  <body class="main">
    <% include ../partials/nav.ejs %>
    <%- include("../partials/sectionTitle.ejs",{ title:"Popular" }) %>
    <div class="top-movies-container">
      <div class="fade fade-right"></div>
      <div class="hold-card"></div>
      <% for(let i=0; i < trendingMovies.length; i++) { %>
      <%    include ../partials/preview.ejs %>
      <% } %>
       <div class="hold-card"></div>
      <div class="fade fade-left"></div>
    </div>
  </body>
</html>